@import 'fonts';
@import 'functions';
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'theme';
@import 'utilities';
@import 'grid';

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
}
